/* Font From Google Font  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

/* Base Font  */
body {
  font-family: "Poppins", sans-serif;
  background-color: whitesmoke;
  margin: 0;
}

/* Main Section Style Start  */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* Main Section Style End  */

/* Main Banner Section Style Start  */
.main-banner-section {
  display: flex;
  flex-direction: row;
  justify-items: center;
  width: 80%;
  background-color: #2d25a0;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
  padding: 5% 10%;
}
.col {
  flex: 50%;
}
.banner-title {
  color: white;
  font-size: 64px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 5%;
}

.banner-info {
  margin-top: 2%;
  margin-left: 15%;
  margin-right: 8%;
  width: 75%;
}

.banner-img img {
  width: 567px;
  height: 427px;
  transition: width 2s, height 2s, transform 2s;
}

.banner-img img:hover {
  width: 300px;
  height: 300px;
  transform: rotate(360deg);
}

.watch-now-btn {
  background-color: #e02c6d;
  color: white;
  margin-top: 30%;
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
}
.fa-arrow-right {
  margin-left: 4px;
}
/* Main Banner SectionStyle End  */

/* Players Section Style Start  */
.players-container {
  width: 1050px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 30px;
  justify-content: space-between;
}
.player {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  padding: 4%;
  box-shadow: 0px 0px 10px 2px rgb(189, 185, 185);
  border-radius: 4px;
}
.player img {
  width: 300px;
  height: 256px;
}
.player h2 {
  text-align: left;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 1%;
}
.player p {
  text-align: left;
  font-size: 16px;
  font-weight: 400;
}

/* Players Section Style End  */

/* Highlight Section Style Start  */
.highlight-section {
  display: flex;
  flex-direction: row;
  justify-items: center;
  margin-top: 10%;
  margin-bottom: 5%;
}
.col {
  flex: 50%;
}
.highlight-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 2%;
}
.col p {
  font-size: 16px;
  font-weight: 400;
}
.hightlight-info {
  margin-top: 2%;
  margin-left: 15%;
  margin-right: 8%;
  width: 75%;
}

.highlight-img img {
  width: 567px;
  height: 427px;
}

/* Highlisht Section Style End  */

/* Youtube Video Section Style Start  */
.youtube-video-section {
  font-size: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.youtube-video-section hr {
  border: 2px solid grey;
  width: 80%;
}
/* Youtube Video Section Style End  */

/* News Letter Section Style Start */
.newsletter-section {
  text-align: center;
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 100px;
  margin-top: 100px;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.newsletter-section p {
  color: black;
}

.newsletter-section input {
  font-size: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}
#submit-btn {
  background-color: tomato;
  margin-left: 10px;
  color: white;
}
input[type="submit"]:hover {
  opacity: 0.8;
}
/* News Letter Section Style End */

/* Footer Section Style Start  */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-logo img {
  width: 400px;
  margin-bottom: 10%;
}
.fab {
  color: white;
  background-color: #e02c6d;
  text-decoration: none;
  text-align: center;
  width: 30px;
  font-size: 20px;
  padding: 10px;
  border-radius: 25px;
}

.brand-style {
  color: #a03c78;
  font-weight: 700;
}
/* Footer Section Style End  */

/* Media Queries  */
/* Mobile Devices */
@media only screen and (max-width: 688px) {
  .main-banner-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .highlight-section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .container {
    width: 100%;
  }
  .players {
    grid-template-columns: repeat(1, 1fr);
  }
  .player {
    flex-direction: column;
  }
}
