/* Font From Google Font  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

/* Base Font  */
body {
  font-family: "Poppins", sans-serif;
  background-image: url("banner.png");
}

/* Highlisht Section Style Start  */
.highlight-section {
  display: flex;
  flex-direction: row;
  justify-items: center;
}
.col {
  flex: 50%;
}
.highlight-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 60px;
  margin-bottom: 2%;
}
.col p {
  font-size: 16px;
  font-weight: 400;
}
.hightlight-info {
  margin-top: 2%;
  margin-left: 15%;
  margin-right: 8%;
  width: 75%;
}

.highlight-img img {
  width: 567px;
  height: 427px;
}

/* Highlisht Section Style Eng  */

/* Youtube Video Section Style Start  */
.youtube-video-section {
  font-size: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.youtube-video-section hr {
  border: 2px solid grey;
  width: 80%;
}
/* Youtube Video Section Style End  */

/* News Letter Section Style Start */
.newsletter-section {
  text-align: center;
  background-color: #cccccc;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 100px;
  margin-top: 100px;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.newsletter-section p {
  color: black;
}

.newsletter-section input {
  font-size: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}
#submit-btn {
  background-color: tomato;
  margin-left: 10px;
  color: white;
}
input[type="submit"]:hover {
  opacity: 0.8;
}
/* News Letter Section Style End */

/* Footer Section Style Start  */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fab {
  color: white;
  background-color: #10437a;
  text-decoration: none;
  text-align: center;
  width: 50px;
  font-size: 32px;
  padding: 10px;
  border-radius: 20px;
}

.brand-style {
  color: #a03c78;
  font-weight: 700;
}
/* Footer Section Style End  */
